<!DOCTYPE css> 
/*global styles*/
body {background-color: linen;}

h3 {text-align:center;}

h4 {text-align:center;}
p{color: purple;}
div {

    background-repeat: repeat;
    background-position: center;
}
.btnPad {margin-left:90px; margin-right:15px;}

/*Responsive table*/
table, tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    border-collapse: collapse;
    width: 70%;
} 

li {text-align: 90px;
    margin-left: 220px;}

th {
 background: gray;
 }

td {
    font-style: italic;
}

a {
    text-decoration:none;
}



