<!DOCTYPE css> 
/*global styles*/
body {background-color: linen;}

h3 {text-align:center;}

h4 {text-align:center;}
p{color: purple;}
div {
    background-color: linen;
    background-image: url("albumImage/MeteoraLP.jpg");
    background-repeat: repeat;
    background-position: center;
}
.btnPad {margin-left:90px; margin-right:15px;}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    } 